body {
	margin: 20px;
	font-family: Go;
	font-size: 14px;
	color: rgb(35, 35, 35);
}
a {
	color: #4183c4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

pre {
	font-family: "Go Mono";
	line-height: 1.45;
	padding: 16px;
	background-color: #f7f7f7;
	border-radius: 3px;
	overflow: auto;
}
