<html>
	<head>
		{{template "scriptless-head" .}}
	</head>
	<body>
		{{.BodyPre}}
		{{.BodyTop}}
		{{render .Changes}}
	</body>
</html>

{{define "scriptless-head"}}
	{{.HeadPre}}
	<link href="{{.BaseURI}}/assets/gfm/gfm.css" rel="stylesheet" type="text/css" />
	<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
	{{.HeadPost}}
{{end}}

{{define "head"}}
	{{template "scriptless-head" .}}
	<script type="text/javascript">
		var State = {{.State | jsonfmt}};
	</script>
	<script src="{{.BaseURI}}/assets/wasm_exec_14.js"></script>
	<script>
		if (!WebAssembly.instantiateStreaming) { // polyfill for Safari :/
			WebAssembly.instantiateStreaming = async (resp, importObject) => {
				const source = await (await resp).arrayBuffer();
				return await WebAssembly.instantiate(source, importObject);
			};
		}
		const go = new Go();
		WebAssembly.instantiateStreaming(fetch("{{.BaseURI}}/assets/frontend.wasm"), go.importObject).then((result) => {
			go.run(result.instance);
		});
	</script>
{{end}}
