<html>
	<head>
		{{template "scriptless-head" .}}
	</head>
	<body>
		{{.BodyPre}}
		{{.BodyTop}}
		{{render .Changes}}
	</body>
</html>

{{define "scriptless-head"}}
	{{.HeadPre}}
	<link href="{{.BaseURI}}/assets/gfm/gfm.css" rel="stylesheet" type="text/css" />
	<link href="{{.BaseURI}}/assets/style.css" rel="stylesheet" type="text/css" />
	{{.HeadPost}}
{{end}}

{{define "head"}}
	{{template "scriptless-head" .}}
	<script type="text/javascript">
		var State = {{.State | jsonfmt}};
	</script>
	<script src="{{.BaseURI}}/assets/script.js" type="text/javascript"></script>
{{end}}
