<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		{{.BodyPre}}
		{{.BodyTop}}

		<h1>{{.Change.Title}} <span class="gray">#{{.Change.ID}}</span></h1>
		<div id="change-state-badge" style="margin-bottom: 20px;">{{render (changeStateBadge .Change)}}</div>
		{{.Tabnav "Files"}}

{{define "CommitMessage"}}
<div class="list-entry list-entry-border commit-message">
	<header class="list-entry-header">
		<div style="display: flex;">
			<pre style="flex-grow: 1;"><strong>{{.Subject}}</strong>{{with .Body}}

{{.}}{{end}}</pre>
			{{with .PrevSHA}}
				<a href="{{.}}">{{octicon "arrow-left"}}</a>
			{{else}}
				<span style="color: gray;">{{octicon "arrow-left"}}</span>
			{{end}}
			{{with .NextSHA}}
				<a href="{{.}}">{{octicon "arrow-right"}}</a>
			{{else}}
				<span style="color: gray;">{{octicon "arrow-right"}}</span>
			{{end}}
		</div>
	</header>
	<div class="list-entry-body">
		<span style="display: inline-block; vertical-align: bottom; margin-right: 5px;">{{.Avatar}}</span>{{/*
		*/}}<span style="display: inline-block;">{{.User}} committed {{.Time}}</span>
		<span style="float: right;">
			<span>commit <code>{{.CommitHash}}</code></span>
		</span>
	</div>
</div>
{{end}}

{{define "FileDiff"}}
<div class="list-entry list-entry-border">
	<header class="list-entry-header">{{.Title}}</header>
	<div class="list-entry-body">
		<pre class="highlight-diff">{{.Diff}}</pre>
	</div>
</div>
{{end}}
