<html>
	<head>
		{{template "head" .}}
	</head>
	<body>
		{{.BodyPre}}
		{{.BodyTop}}

		<h1>{{.Change.Title}} <span class="gray">#{{.Change.ID}}</span></h1>
		<div id="change-state-badge" style="margin-bottom: 20px;">{{render (changeStateBadge .Change)}}</div>
		{{.Tabnav "Commits"}}
