a.black {
	color: black;
	text-decoration: none;
}
a.black:hover {
	text-decoration: underline;
}

.gray {
	color: #888;
}
.lightgray {
	color: #ddd;
}
.tiny {
	font-size: 12px;
}

div.list-entry {
	margin-top: 12px;
}
div.list-entry-container {
	width: 100%;
	box-sizing: border-box;
}
div.list-entry-border {
	border: 1px solid #ddd;
	border-radius: 4px;
}
header.list-entry-header {
	font-size: 13px;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #eee;
}
div:not(.commit-message) header.list-entry-header {
	background-color: #f8f8f8;
}
.hash-selected div.list-entry-border {
	border: 1px solid #8ca2d9;
}
.hash-selected header.list-entry-header {
	background-color: #dbe5ff;
	border-bottom: 1px solid #8ca2d9;
}
header.list-entry-header.tabs {
	padding: 16px 10px 6px 10px;
}
header.list-entry-header.tabs-title {
	padding-bottom: 6px;
	background-color: #fff;
}
div.list-entry-body {
	padding: 10px;
}

div.multilist-entry:not(:first-of-type) {
	border: 0px solid #ddd;
	border-top-width: 1px;
}

div.commit-message.list-entry-border {
	background-color: #ecf3ff;
}
.commit-message header.list-entry-header {
	font-size: 14px;
}
.commit-message div.list-entry-body {
	background-color: #fff;
}
.commit-message pre {
	font-family: Go;
	font-size: 14px;
	tab-size: 4;
	margin: 0;
}
.commit-message div.list-entry-body {
	font-size: 13px;
	line-height: 24px;
	padding: 6px;
}

code {
	font-family: "Go Mono";
	font-size: 12px;
}

/* Needed in changes only because of something in parent containers... */
.markdown-body {
	word-break: break-word;
}

/* GFM style overrides. */
.markdown-body {
	font-size: 14px;
	line-height: 1.2;
}

span.content {
	display: table-cell;
	width: 100%;
}
span.right-icon {
	display: table-cell;
	padding-left: 12px;
	padding-right: 4px;
}
span.right-icon a {
	color: #bbb;
}
span.right-icon a:hover {
	color: black;
}

img.topbar-avatar {
	border-radius: 2px;
	width: 18px;
	height: 18px;
	vertical-align: top;
}
a.topbar-avatar {
	margin-right: 6px;
}

input#title-editor {
	font-family: inherit;
	font-size: 14px;
	background-color: #fafafa;
	display: block;
	padding: 6px;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 16px;
}
input#title-editor:focus {
	background-color: #fff;
}

textarea.comment-editor {
	font-family: inherit;
	font-size: 14px;
	background-color: #fafafa;
	display: block;
	padding: 10px;
	width: 100%;
	resize: vertical;
	min-height: 120px;
	max-height: 500px;
	border: 1px solid #ddd;
}
textarea.comment-editor:focus {
	background-color: #fff;
}

.tab-link {
	padding: 9px 13px 8px 13px;
}
.tab-link.active {
	padding: 8px 12px 8px 12px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-width: 0;
}

.event {
	margin-left: 58px;
}
.event-header {
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 20px;
}
.event-icon {
	float: left;
	margin-right: 10px;
	width: 28px;
	height: 28px;
	display: flex; justify-content: center; align-items: center;
	border-radius: 50%;
}

header.list-entry-header nav a {
	color: #767676;
	text-decoration: none;
}
header.list-entry-header nav a:hover,
header.list-entry-header nav a:active,
header.list-entry-header nav a:focus {
	color: #000;
}
header.list-entry-header nav .selected {
	color: #000;
	font-weight: bold;
}

span.right-icon div.new-reaction {
	width: 22px;
}
span.right-icon div.new-reaction .smiley {
	width: 16px;
	height: 16px;
}
span.right-icon div.new-reaction .plus {
	top: -4px;
	width: 6px;
	position: relative;
}

div.reactable-container {
	vertical-align: top;
}
div.reactable-container:hover div.new-reaction {
	display: inline-block;
}

span.emoji-inner {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: url(/emojis/emojis.png);
	background-size: 4100% !important;
	vertical-align: middle;
}
span.emoji-outer {
	display: inline-block;
	height: 1em;
	width: 1em;
	font-size: 22px;
	margin-right: 4px;
}
.reaction strong {
	font-family: inherit;
	font-size: 14px;
}

div.reaction {
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	padding: 3px 5px;
	height: 30px;
	background-color: #f6fafd;
	color: #8ec0e6;
	border: 1px solid #92def9;
	border-radius: 4px;
}
a.reaction {
	display: inline-block;
	margin-right: 6px;
	margin-top: 4px;
}

div.others {
	background-color: #fff;
	color: #aaa;
	border: 1px solid #e0e0e0;
}
div.others:hover {
	border: 1px solid #92def9;
}

div.reactable-container div.new-reaction {
	cursor: pointer;
	display: none;
	box-sizing: border-box;
	padding: 5px 4px;
	height: 30px;
	color: #aaa;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-top: 4px;
	vertical-align: top;
}
div.reactable-container div.new-reaction .smiley {
	width: 18px;
	height: 18px;
}
div.reactable-container div.new-reaction .plus {
	top: -4px;
	width: 6px;
	position: relative;
}
div.reactable-container div.new-reaction:hover {
	color: #eda000;
	border: 1px solid #92def9;
}

span.rm-emoji {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(/emojis/emojis.png);
	background-size: 4100%;
}
span.rm-large {
	width: 44px;
	height: 44px;
}

div.rm-reaction {
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
}
div.rm-reaction:hover {
	background-color: #92def9;
}

div#rm-reactions-menu {
	position: absolute;
	z-index: 1000;

	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
	border-radius: 6px;
	padding: 8px;
	width: 270px;
	box-sizing: content-box;
}
input.rm-reactions-filter {
	width: 100%;
	height: 30px;
	font-family: inherit;
	font-size: 14px;
	padding: 4px 16px;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-bottom: 8px;
	box-sizing: border-box;
}
div.rm-reactions-results {
	overflow-y: scroll;
	height: 300px;
}
div.rm-reactions-preview {
	height: 44px;
	margin-top: 10px;
	/*background-color: #eeeeee;*/
}
span#rm-reactions-preview-emoji {
}
span#rm-reactions-preview-label {
	margin-left: 10px;
	vertical-align: top;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
}

div.rm-reactions-menu-container {
	position: relative;
}
div.rm-reactions-menu-disabled {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}
div.rm-reactions-menu-signin {
	font-family: inherit;
	margin-top: 185px;
	margin-left: auto;
	margin-right: auto;
	display: table;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 1.0);
}

/* https://github.com/primer/primer-navigation */
.counter{display:inline-block;padding:2px 5px;font-size:12px;font-weight:600;line-height:1;color:#666;background-color:#eee;border-radius:20px}.menu{margin-bottom:15px;list-style:none;background-color:#fff;border:1px solid #d8d8d8;border-radius:3px}.menu-item{position:relative;display:block;padding:8px 10px;border-bottom:1px solid #eee}.menu-item:first-child{border-top:0;border-top-left-radius:2px;border-top-right-radius:2px}.menu-item:first-child::before{border-top-left-radius:2px}.menu-item:last-child{border-bottom:0;border-bottom-right-radius:2px;border-bottom-left-radius:2px}.menu-item:last-child::before{border-bottom-left-radius:2px}.menu-item:hover{text-decoration:none;background-color:#f9f9f9}.menu-item.selected{font-weight:bold;color:#222;cursor:default;background-color:#fff}.menu-item.selected::before{position:absolute;top:0;bottom:0;left:0;width:2px;content:"";background-color:#d26911}.menu-item .octicon{width:16px;margin-right:5px;color:#333;text-align:center}.menu-item .counter{float:right;margin-left:5px}.menu-item .menu-warning{float:right;color:#d26911}.menu-item .avatar{float:left;margin-right:5px}.menu-item.alert .counter{color:#bd2c00}.menu-heading{display:block;padding:8px 10px;margin-top:0;margin-bottom:0;font-size:13px;font-weight:bold;line-height:20px;color:#555;background-color:#f7f7f7;border-bottom:1px solid #eee}.menu-heading:hover{text-decoration:none}.menu-heading:first-child{border-top-left-radius:2px;border-top-right-radius:2px}.menu-heading:last-child{border-bottom:0;border-bottom-right-radius:2px;border-bottom-left-radius:2px}.tabnav{margin-top:0;margin-bottom:15px;border-bottom:1px solid #ddd}.tabnav .counter{margin-left:5px}.tabnav-tabs{margin-bottom:-1px}.tabnav-tab{display:inline-block;padding:8px 12px;font-size:14px;line-height:20px;color:#666;text-decoration:none;background-color:transparent;border:1px solid transparent;border-bottom:0}.tabnav-tab.selected{color:#333;background-color:#fff;border-color:#ddd;border-radius:3px 3px 0 0}.tabnav-tab:hover,.tabnav-tab:focus{text-decoration:none}.tabnav-extra{display:inline-block;padding-top:10px;margin-left:10px;font-size:12px;color:#666}.tabnav-extra>.octicon{margin-right:2px}a.tabnav-extra:hover{color:#4078c0;text-decoration:none}.tabnav-btn{margin-left:10px}.filter-list{list-style-type:none}.filter-list.small .filter-item{padding:4px 10px;margin:0 0 2px;font-size:12px}.filter-list.pjax-active .filter-item{color:#767676;background-color:transparent}.filter-list.pjax-active .filter-item.pjax-active{color:#fff;background-color:#4078c0}.filter-item{position:relative;display:block;padding:8px 10px;margin-bottom:5px;overflow:hidden;font-size:14px;color:#767676;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;border-radius:3px}.filter-item:hover{text-decoration:none;background-color:#eee}.filter-item.selected{color:#fff;background-color:#4078c0}.filter-item .count{float:right;font-weight:bold}.filter-item .bar{position:absolute;top:2px;right:0;bottom:2px;z-index:-1;display:inline-block;background-color:#f1f1f1}.subnav{margin-bottom:20px}.subnav::before{display:table;content:""}.subnav::after{display:table;clear:both;content:""}.subnav-bordered{padding-bottom:20px;border-bottom:1px solid #eee}.subnav-flush{margin-bottom:0}.subnav-item{position:relative;float:left;padding:6px 14px;font-weight:600;line-height:20px;color:#666;border:1px solid #e5e5e5}.subnav-item+.subnav-item{margin-left:-1px}.subnav-item:hover,.subnav-item:focus{text-decoration:none;background-color:#f5f5f5}.subnav-item.selected,.subnav-item.selected:hover,.subnav-item.selected:focus{z-index:2;color:#fff;background-color:#4078c0;border-color:#4078c0}.subnav-item:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px}.subnav-item:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px}.subnav-search{position:relative;margin-left:10px}.subnav-search-input{width:320px;padding-left:30px;color:#767676;border-color:#d5d5d5}.subnav-search-input-wide{width:500px}.subnav-search-icon{position:absolute;top:9px;left:8px;display:block;color:#ccc;text-align:center;pointer-events:none}.subnav-search-context .btn{color:#555;border-top-right-radius:0;border-bottom-right-radius:0}.subnav-search-context .btn:hover,.subnav-search-context .btn:focus,.subnav-search-context .btn:active,.subnav-search-context .btn.selected{z-index:2}.subnav-search-context+.subnav-search{margin-left:-1px}.subnav-search-context+.subnav-search .subnav-search-input{border-top-left-radius:0;border-bottom-left-radius:0}.subnav-search-context .select-menu-modal-holder{z-index:30}.subnav-search-context .select-menu-modal{width:220px}.subnav-search-context .select-menu-item-icon{color:inherit}.subnav-spacer-right{padding-right:10px}

.ellipsis-button {
	padding: 0 4px;
	vertical-align: middle;
	color: #444d56;
	background: #dfe2e5;
	border: 0;
	border-radius: 1px;
	margin-left: 6px;
	cursor: pointer;
}
.ellipsis-button:hover {
	background-color: #c6cbd1;
}
.ellipsis-button:active {
	color: #fff;
	background-color: #2188ff;
}

pre.highlight-diff {
	font-size: 12px;
	line-height: 16px;
	overflow-x: scroll;
}

.highlight-diff .input-block { display: block; width: 100%; }
.highlight-diff .gi { color: #000; background-color: #dfd; }
.highlight-diff .gi .x { color: #000; background-color: #afa; }
.highlight-diff .gd { color: #000; background-color: #fdd; }
.highlight-diff .gd .x { color: #000; background-color: #faa; }
.highlight-diff .gu { color: #800080; font-weight: bold; }
.highlight-diff .gh { color: #999; }
